@import '~antd/dist/antd.less';

.App {
  height: 100vh;
  width: 100%;
  background-color: #ffffff;


}
.main-layout {
  height: 100%;
  display: flex;
  flex-direction: row;
  
}
.box1 {
  border: 1px solid #000;
  width: 200px;
  height: 100%;
}

.box2 {
  border: 1px solid #000;
  height: 100%;
  width:auto ;
 
}
.box3 {
  border: 1px solid #000;
  width: 300px;
  height: 100%;
}

@media screen and (max-width: 600px){
  .box2 {
    overflow-x: auto;

  }
}